{% extends "base.html" %}

{% block title %}Добро пожаловать!{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Добро пожаловать в Ресторан "Вкусная Еда"!</h1>
        <p>Мы предлагаем лучшие блюда европейской и азиатской кухни, приготовленные с любовью из свежайших ингредиентов.</p>
        <p>Насладитесь уютной атмосферой и незабываемым вкусом!</p>
        <a href="{{ url_for('menu') }}" class="button">Посмотреть меню</a>
    </section>

    <section class="about-us">
        <h2>О нас</h2>
        <p>Наш ресторан был основан в 2005 году с целью предложить гостям уникальный кулинарный опыт. Мы гордимся нашим профессиональным шеф-поваром и внимательным персоналом, готовым сделать ваш визит максимально приятным.</p>
        <p>Мы работаем каждый день с 10:00 до 23:00.</p>
        <p>Адрес: г. Москва, ул. Примерная, д. 123</p>
        <p>Телефон: +7 (XXX) XXX-XX-XX</p>
    </section>
{% endblock %}
